html {
  height: 100vh;
  width: 100vw;
  display: flex;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url(./media/SL_043021_42650_22.jpg);
  background-size: cover;
}

.section {
  width: 100%;
  display: flex;
}

.icon {
  position: relative;
  left: 1rem;
  width: 0rem;
  height: 0rem;
  opacity: 0;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    opacity 1s ease-in-out;
}

.active {
  width: 2rem;
  height: 2rem;
  opacity: 1;
}

.title-container {
  display: flex;
  justify-content: center;
}
.title {
  font-family: Anta;
  font-size: 3rem;
  color: rgb(159, 159, 253);
  text-decoration: underline;
  margin-top: 0;
  width: fit-content;

  padding: 0.2rem;
  border-radius: 10px;
  margin-top: 0.5rem;
}
.container {
  background-color: rgba(0, 0, 0, 0.707);
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 100vh;
  max-width: 35rem;
  margin-top: 2rem;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(241, 238, 238, 0.2);
}

.form-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  height: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

.input {
  width: 70%;
  padding: 0.5rem;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  color: white;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.valid {
  border-bottom: 3px solid green;
}

.invalid {
  border-bottom: 3px solid red;
}

input:focus {
  border-color: rgb(241, 241, 110);
}

label {
  font-size: 2rem;
  font-family: Anta;
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.185);
  padding: 0.1rem;
  border-radius: 5px;
  margin-left: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.password-section {
  width: 97.5%;
  padding: 0.2rem;
}

.password-confirmed {
  border-radius: 1rem;
  border: 2px solid green;
  background-color: rgba(8, 177, 8, 0.234);
}

#submit-btn {
  position: relative;
  border: none;
  color: white;
  padding: 10px 20px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  margin-left: 2rem;
  background-color: rgba(128, 128, 128, 0.399);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.submit-active {
  background: linear-gradient(45deg, blue, red);
}

#submit-btn:hover {
  transform: scale(1.1);
}

#submit-btn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}
